@model StoreListVM
@{
    ViewData["Title"] = "Home Page";
}


<div class="centered">
    <h1>Welcome to the StorageApp!</h1>

    <div class="home-buttons-wrapper">
        <a class="btn btn-success" asp-area="" asp-controller="Store" asp-action="Index">მაღაზიები</a>
        <a class="btn btn-success" asp-area="" asp-controller="Product" asp-action="Index">პროდუქტი</a>
    </div>


    <div class="author-wrapper">
        <h2><b>ავტორები</b></h2>

        <h4>ბექა ბაძაღუა</h4>
        <h4>ბაქარ ნემსიწვერიძე</h4>
    </div>
</div>









