@model StorageApp.Models.ProductVM

@{
    ViewData["Title"] = "Show";
}

<div class="centered">
    <h2>@Model.Product.Name</h2>
    <h4>@Model.Product.Manufacturer</h4>
    <img src="@Model.Product.Picture" alt="@Model.Product.Name" />
</div>
