@model StorageApp.Models.ProductVM

@{
    ViewData["Title"] = "Show";
}

<div class="error-list">
    <span asp-validation-for="FormAdd.ProductID" class="text-danger"></span>
    <span asp-validation-for="FormAdd.BarCode" class="text-danger"></span>
    <span asp-validation-for="FormAdd.Price" class="text-danger"></span>
</div>

<div class="centered">
    <h2>@Model.Product.Name</h2>
    <h4>@Model.Product.Manufacturer</h4>
    <h5>@Model.Product.Picture</h5>
</div>
