body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:50px;
}
.centered{
    text-align:center;
}
li {
    list-style-type: none;
}

.centered {
    text-align: center;
}

.right {
    float: right;
}



/* Home */
.home-buttons-wrapper{
    padding-top: 15px;
}
.home-buttons-wrapper a {
    font-size: 30px;
    padding: 40px 80px;
}

.author-wrapper{
    margin-top:100px;
}

.form-wrapper{
    width:450px;
    margin: auto;
}

/*ErrorMessages*/
.error-list {
    background-color: rgba(255, 95, 43, 0.25);
    font-size: 20px;
    border-radius:30px;

}

.error-list span{
    list-style-type:disc;
    display:block;
    margin:5px 50px;
}
