body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:50px;
}
.centered{
    text-align:center;
}




/* Home */
.home-buttons-wrapper{
    padding-top: 15px;
}
.home-buttons-wrapper a {
    font-size: 30px;
    padding: 40px 80px;
}

.author-wrapper{
    margin-top:100px;
}
