
@{
    ViewData["Title"] = "Index";
}

<h2>Store Page</h2>

@*<table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Stores)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Address</td>
                    <td>@item.Type</td>
                </tr>
            }
        </tbody>
    </table>*@