@{
    ViewData["Title"] = "Register Page";
}
<div class="form-wrapper">
    <form action="#" method="post">
        <h1>Registration</h1>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="cpassword">Password</label>
            <input type="password" name="cpassword" class="form-control" placeholder="Confirm Password">
        </div>
        <button type="submit" class="btn btn-success">Regiter</button>
        <hr />
        <p style="font-size: 20px">Do you have an account? <a asp-controller="Auth" asp-action="Login">Login</a>.</p>
    </form>
</div>